footer {
  background: #9E9CED;
  padding: 10px;
  border: 5px solid  #392242;
}

.footerContent {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  margin-left: 20px;
}


@media (max-width: 1200px) {
  .footerContent {
    font-size: 14px;
    margin-left: 15px;
  }
}

@media (max-width: 992px) {
  .footerContent {
    font-size: 12px;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 8px;
    border-width: 3px;
  }

  .footerContent {
    font-size: 10px;
    margin-left: 5px;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 5px;
    border-width: 2px;
  }

  .footerContent {
    font-size: 8px;
    margin-left: 0;
    text-align: center;
  }
}
