#home {
  margin: 150px 250px;
  background-color: #fff;
  width: fit-content;
  border: 5px solid #392242;
  border-radius: 20px;
  box-shadow: -5px 5px 0 0 rgb(85, 126, 203, 0.5);
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

#home.visible {
  transform: translateX(0);
  opacity: 1;
}

.upperborder {
  background-color: #9E9CED;
  width: auto;
  height: 45px;
  border-bottom: 5px solid #392242;
  border-radius: 15px 15px 0 0;
}

.windowIcons {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 14px;
  gap: 15px;
  font-size: 20px;
  color: #fff;
}

.homeTitle {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  font-size: 40px;
  font-weight: 700;
}

em {
  color: #518BF0;
}

.homeDesc {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}


@media (max-width: 1200px) {
  #home {
    margin: 100px 50px; /* Ajusta los márgenes para pantallas más pequeñas */
    max-width: 40vh;
  }

  .homeTitle {
    font-size: 36px; /* Reduce el tamaño de la fuente del título */
  }

  .homeDesc {
    font-size: 20px; /* Reduce el tamaño de la fuente de la descripción */
  }
}

@media (max-width: 992px) {
  #home {
    margin: 80px 50px; /* Ajusta aún más los márgenes para pantallas más pequeñas */
  }

  .homeTitle {
    font-size: 32px; /* Reduce más el tamaño de la fuente del título */
  }

  .homeDesc {
    font-size: 18px; /* Reduce más el tamaño de la fuente de la descripción */
  }

  .windowIcons {
    font-size: 18px; /* Ajusta el tamaño de los íconos de ventana */
  }
}

@media (max-width: 768px) {
  #home {
    margin: 60px 20px; /* Reduce los márgenes para pantallas móviles */
    width: 100%; /* Hace que el contenedor ocupe el ancho completo */
    box-shadow: none; /* Elimina la sombra para pantallas móviles */
  }

  .homeTitle {
    font-size: 28px; /* Ajusta el tamaño de la fuente del título para pantallas móviles */
  }

  .homeDesc {
    font-size: 16px; /* Ajusta el tamaño de la fuente de la descripción para pantallas móviles */
  }

  .windowIcons {
    font-size: 16px; /* Ajusta el tamaño de los íconos de ventana */
    gap: 10px; /* Reduce el espacio entre íconos */
  }
}

@media (max-width: 480px) {
  #home {
    margin: 30px 10px; /* Ajusta los márgenes para pantallas muy pequeñas */
  }

  .homeTitle {
    font-size: 24px; /* Ajusta el tamaño de la fuente del título para pantallas muy pequeñas */
  }

  .homeDesc {
    font-size: 14px; /* Ajusta el tamaño de la fuente de la descripción para pantallas muy pequeñas */
  }

  .windowIcons {
    font-size: 14px; /* Ajusta el tamaño de los íconos de ventana */
    gap: 5px; /* Reduce aún más el espacio entre íconos */
  }
}