.stackSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
#stack {
  margin: 50px 10px;
  background-color: #fff;
  width: fit-content;
  border: 5px solid #392242;
  border-radius: 20px;
  box-shadow: -5px 5px 0 0 rgb(85, 126, 203, 0.5);
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

#stack.visible {
  transform: translateX(0);
  opacity: 1;
}

.upperborder3 {
  background-color: #9E9CED;
  width: auto;
  height: 45px;
  border-bottom: 5px solid #392242;
  border-radius: 15px 15px 0 0;
}

.windowIcons3 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 14px;
  gap: 15px;
  font-size: 20px;
  color: #fff;
}

.stackTitle {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  font-size: 36px;
  font-weight: 700;
}

em {
  color: #518cf0;
}

.stackDesc {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #557ECB;
  gap: 10px;
}
img {
  width: 40px;
  height: 40px;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: #FFA0DD;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 110%; /* Ajusta la posición del tooltip */
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


@media (max-width: 1200px) {
  .stackSection {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
  }
  .stackTitle {
    font-size: 32px; /* Reduce el tamaño de la fuente del título */
  }

  .stackDesc {
    font-size: 36px; /* Reduce el tamaño de la fuente de la descripción */
    gap: 8px; /* Reduce el espacio entre los elementos en la descripción */
  }

  img {
    width: 35px; /* Reduce el tamaño de las imágenes */
    height: 35px; /* Reduce el tamaño de las imágenes */
  }

  .tooltip .tooltiptext {
    font-size: 14px; /* Reduce el tamaño de la fuente del tooltip */
    padding: 4px 4px; /* Ajusta el padding del tooltip */
    margin-left: -25px; /* Ajusta el margen izquierdo del tooltip */
  }
}

@media (max-width: 992px) {
  .stackTitle {
    font-size: 28px; /* Reduce aún más el tamaño de la fuente del título */
  }

  .stackDesc {
    font-size: 30px; /* Reduce aún más el tamaño de la fuente de la descripción */
    gap: 6px; /* Reduce el espacio entre los elementos en la descripción */
  }

  img {
    width: 30px; /* Reduce el tamaño de las imágenes */
    height: 30px; /* Reduce el tamaño de las imágenes */
  }

  .tooltip .tooltiptext {
    font-size: 12px; /* Reduce el tamaño de la fuente del tooltip */
    padding: 3px 3px; /* Ajusta el padding del tooltip */
    margin-left: -20px; /* Ajusta el margen izquierdo del tooltip */
  }
}

@media (max-width: 768px) {
  #stack {
    margin: 30px 5px; /* Ajusta el margen del contenedor en pantallas más pequeñas */
  }

  .stackTitle {
    font-size: 24px; /* Reduce el tamaño de la fuente del título */
  }

  .stackDesc {
    font-size: 24px; /* Reduce el tamaño de la fuente de la descripción */
    gap: 4px; /* Reduce el espacio entre los elementos en la descripción */
  }

  img {
    width: 25px; /* Reduce el tamaño de las imágenes */
    height: 25px; /* Reduce el tamaño de las imágenes */
  }

  .tooltip .tooltiptext {
    font-size: 10px; /* Reduce el tamaño de la fuente del tooltip */
    padding: 2px 2px; /* Ajusta el padding del tooltip */
    margin-left: -15px; /* Ajusta el margen izquierdo del tooltip */
  }
}

@media (max-width: 480px) {
  #stack {
    margin: 20px 2px; /* Ajusta el margen del contenedor en pantallas muy pequeñas */
  }

  .stackTitle {
    font-size: 20px; /* Reduce el tamaño de la fuente del título */
  }

  .stackDesc {
    font-size: 20px; /* Reduce el tamaño de la fuente de la descripción */
    gap: 2px; /* Reduce el espacio entre los elementos en la descripción */
  }

  img {
    width: 20px; /* Reduce el tamaño de las imágenes */
    height: 20px; /* Reduce el tamaño de las imágenes */
  }

  .tooltip .tooltiptext {
    font-size: 8px; /* Reduce el tamaño de la fuente del tooltip */
    padding: 1px 1px; /* Ajusta el padding del tooltip */
    margin-left: -10px; /* Ajusta el margen izquierdo del tooltip */
  }
}