.stackSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
#stack {
  margin: 50px 50px;
  background-color: #fff;
  width: fit-content;
  border: 5px solid #392242;
  border-radius: 20px;
  box-shadow: -5px 5px 0 0 rgb(85, 126, 203, 0.5);
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

#stack.visible {
  transform: translateX(0);
  opacity: 1;
}

.upperborder3 {
  background-color: #9E9CED;
  width: auto;
  height: 45px;
  border-bottom: 5px solid #392242;
  border-radius: 15px 15px 0 0;
}

.windowIcons3 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 14px;
  gap: 15px;
  font-size: 20px;
  color: #fff;
}

.stackTitle {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  font-size: 36px;
  font-weight: 700;
}

em {
  color: #518BF0;
}

.stackDesc {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
img {
  width: 10px;
  height: 10px;
}